*{
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    
}

#hero{
    width: 100vw;
    height: 500px;
}
.img-carrusel{
    background-size: cover;
    background-repeat: no-repeat;
}
#video-background {
    height: 100%;
    position: fixed;
    width: 100%;
}
i{
    color:white;
}